@import "tailwindcss"; 


/* Animation apparition */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

/* Animation pop du cercle */
@keyframes pop {
  0% { transform: scale(0.6); }
  70% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-pop {
  animation: pop 0.4s ease-out;
}

/* Animation dessin du check */
.animate-draw {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: draw 0.6s ease forwards 0.3s;
}

@keyframes draw {
  to { stroke-dashoffset: 0; }
}

@keyframes toastIn {
  from { opacity: 0; transform: translateY(-8px) translateX(8px); }
  to { opacity: 1; transform: translateY(0) translateX(0); }
}

@keyframes toastBar {
  from { width: 100%; }
  to { width: 0%; }
}